<ul class="m-8 max-w-5xl lg:mx-auto">
  <div class="flex justify-between mb-8 border-b">
    <h3 class="text-2xl">カテゴリ一覧</h3>
    <%= link_to new_category_path, class:"text-blue-400 hover:text-blue-500", method: :get do %>
      +
      カテゴリーを追加
    <% end %>
  </div>

  <% @categories.each do |category| %>
    <li class="border-b p-3 mb-3">
      <%= link_to category.name, category_path(category.id), class:"px-3 text-2xl text-gray-400 hover:underline hover:text-gray-300 hover:underline" %>

      <div class="flex justify-end space-x-3">
        <%=
            link_to "Edit",
            edit_category_path(category),
            class: "text-blue-400 hvoer:text-blue-600"
        %>

        <label for="modal-<%= category.id %>" class="text-red-400 cursor-pointer hover:text-red-500 hover:underline">
          Delete
        </label>

        <!-- Put this part before </body> tag -->
        <input type="checkbox" id="modal-<%= category.id %>" class="modal-toggle" />
        <div class="modal">
          <div class="modal-box">
            <h3 class="font-bold text-lg">カテゴリー削除</h3>
            <p class="py-4">カテゴリーを削除すると、このカテゴリーに属する用語が全て削除されます。本当に削除しますか？</p>
            <div class="modal-action">
              <%= 
                button_to "Delete", 
                category_path(category), 
                method: :delete, 
                class: "btn text-red-400 hover:text-red-600" 
              %>
              <label for="modal-<%= category.id %>" class="btn">Close</label>
            </div>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
