<div class="drawer drawer-mobile relative top-0 left-0 z-20">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <label for="my-drawer-2" class="btn drawer-button bg-base-300 lg:hidden border-none rounded-none">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </label>
    
    <ul class="mx-auto px-8 w-full lg:w-2/3 mt-8">
      <h1 class="text-xl">
        カテゴリー<span class="underline text-2xl mx-1"><%= @category.name %></span>の用語集
      </h1>
      <% @category.terms.each do |term| %>
        <li class="my-6">
          <div class="tooltip w-full" data-tip="click">
            <div class="collapse group text-start">
              <input type="checkbox" class="w-full" />
              <div class="collapse-title group-hover:bg-slate-700 text-xl font-medium border-b ">
                <%= term.name %>
              </div>
              
              <div class="collapse-content bg-gray-800">
                <p class="p-3"><%= term.description %></p>
              </div>
            </div>
          </div>
          <div class="flex justify-end space-x-3">
            <%= link_to "Edit", edit_term_path(term.id), class: "inline text-blue-400 hover:text-blue-600 hover:underline" %>
            <label for="modal-<%= term.id %>" class="text-red-400 cursor-pointer hover:text-red-500 hover:underline">
              Delete
            </label>

            <!-- Put this part before </body> tag -->
            <input type="checkbox" id="modal-<%= term.id %>" class="modal-toggle" />
            <div class="modal">
              <div class="modal-box">
                <h3 class="font-bold text-lg">用語削除</h3>
                <p class="py-4">本当に削除しますか？</p>
                <div class="modal-action">
                  <%= 
                    button_to "Delete", 
                    term_path(term), 
                    method: :delete, 
                    class: "btn text-red-400 hover:text-red-600" 
                  %>
                  <label for="modal-<%= term.id %>" class="btn">Close</label>
                </div>
              </div>
            </div>
          </div>
        </li>
      <% end %>
      <% if @category.terms.length === 0 %>
        <div class="text-xl flex justify-center mt-32">
          用語がありません。
          <%= link_to "追加", new_term_path, class: "text-blue-400 hover:text-blue-600 underline" %>
        </div>
      <% end %>
    </ul>
  </div>
  
  <div class="drawer-side shadow-lg">
    <label for="my-drawer-2" class="drawer-overlay"></label> 
    <ul class="menu p-4 w-80 bg-base-200 text-base-content">
      <h3 class="text-xl pb-3 mb-3 border-b">Categories</h3>
      <li>
        <%= link_to "All", terms_path %>
      </li>
      <% @categories.each do |category| %>
        <li>
          <%= link_to category.name, category_path(category.id) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= link_to new_term_path(:category => @category.id), class:"z-50 fixed bottom-6 right-6 bg-indigo-500 hover:bg-indigo-600 p-5 rounded-full focus:ring-4", method: :get do %>
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7">
    <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
  </svg>
<% end %>
